<h1>{{title}} corriendo</h1>
<input type="text" [(ngModel)]="variableInput">
<p>{{variableInput}}</p>
<!-- <button (click)="cambiarTitulo('titulos desde html')">Cambiar</button> -->

<hr>

<input type="number" [(ngModel)]="numero1">
<br>
<input type="number" [(ngModel)]="numero2">
<br>
<button (click)="sumar()">Sumar</button>
<h2>Resultado: {{resultado}}</h2>

<hr>

<!-- <img [src]="imagen" alt=""> -->
<h2>Ejercio edades</h2>
<input type="number" [(ngModel)]="numero1">
<br>
<input type="number" [(ngModel)]="numero2">
<br>
<button (click)="calcular()">Calcular</button>
<br>
<label for="">Promedio: </label><input type="text" [value]="promedioEdad">
<br>
<label for="">Suma: </label><input type="text" [value]="sumaEdad">